@tailwind utilities;

@theme {
  --breakpoint-xxxs: 15rem;
  --breakpoint-xxs: 24rem;
  --breakpoint-xs: 32rem;
  --breakpoint-smd: 42rem;
  --breakpoint-lmd: 48rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@theme {
  --text-fluid-00: clamp(0.5rem, 2vw, 1rem);
  --text-fluid-0: clamp(0.75rem, 2vw, 1rem);
  --text-fluid-base: clamp(1.125rem, 3vw, 1.5rem);
  --text-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --text-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --text-fluid-3: clamp(2rem, 9vw, 3.5rem);
  --text-fluid-4: clamp(2rem, 4vw, 3rem);
  --text-fluid-5: clamp(4rem, 5vw, 5rem);
  --text-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --text-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --text-fluid-8: clamp(10rem, 20vw, 15rem);
  --text-fluid-9: clamp(15rem, 30vw, 20rem);
  --text-fluid-10: clamp(20rem, 40vw, 30rem);
}

* {
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif; /* Ensuring font-family is applied */
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

header,
main,
aside,
section,
article,
footer {
  container-type: inline-size;
}

li {
  text-decoration: none;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 oklch(0 0 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-neon-pink);
  outline: 1px solid var(--clr-neon-pink);
}

.w-md-editor-toolbar {
  padding: 10px !important;
}

.section {
  margin-top: 5rem;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-neon-pink);
  color: oklch(96.83% 0.007 247.9);
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px oklch(69.55% 0.31 331.65 / 50%),
    0 6px 6px oklch(69.55% 0.31 331.65 / 50%),
    0 0 100px -10px var(--clr-neon-pink);
  transition: transform 0.3s, box-shadow 0.3s;
}

.mentor-status-working {
  @apply bg-emerald-500 text-white;
}
.mentor-status-notworking {
  @apply bg-red-500 text-white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px oklch(69.55% 0.31 331.65 / 25%),
    0 10px 10px oklch(69.55% 0.31 331.65 / 22%),
    0 0 120px -10px var(--clr-neon-pink);
}

.toastui-editor-defaultUI .CodeMirror {
  @apply !border-none !bg-inherit;
}

.toastui-editor-defaultUI:has(textarea),
textarea:focus {
  @apply ring-emerald-500;
}

.ProseMirror {
  @apply text-foreground;
}
.toastui-editor-defaultUI-toolbar {
  @apply bg-background border-b border-border rounded-t-md flex h-[45px] px-6;
}

.toastui-editor-defaultUI {
  @apply rounded-md border border-border;
}

.toastui-editor-defaultUI textarea,
.toastui-editor-defaultUI .ProseMirror {
  @apply rounded-md border border-border focus:ring-emerald-500 focus:border-emerald-500 p-2;
}

/* When the scroll-sync is active */
.toastui-editor-defaultUI-toolbar .scroll-sync.active:before,
.toastui-editor-defaultUI-toolbar .scroll-sync.active:after {
  @apply text-emerald-500; /* Apply emerald color to the pseudo-elements */
}
.toastui-editor-defaultUI-toolbar input:checked + .switch {
  @apply text-emerald-500;
}

/* When the checkbox is checked */
.toastui-editor-defaultUI-toolbar input:checked + .switch {
  @apply bg-gray-200; /* Change the background color to emerald-500 */
}
.toastui-editor-defaultUI-toolbar input:checked + .switch:before {
  @apply bg-emerald-500;
}

.toastui-editor-md-splitter {
  display: none !important;
}

.toastui-editor-mode-switch {
  @apply bg-background border-t-border;
}
.toastui-editor-mode-switch .tab-item.active {
  @apply bg-background border border-border;
}

.toastui-editor-mode-switch .tab-item {
  @apply bg-background border border-border;
}
.toastui-editor-toolbar-icons {
  border: none !important;
  background-color: var(--color-background) !important;
}

.success,
.info {
  @apply p-2 my-2 text-sm text-emerald-500 bg-emerald-50 rounded-md border-emerald-300 border;
  @apply animate-pulse; /* Apply the pulse animation */
}

.error,
.destructive {
  @apply p-2 my-2 text-sm text-red-500 bg-red-50 rounded-md border-red-300 border;
  @apply animate-pulse; /* Apply the pulse animation */
}

.warning {
  @apply p-2 my-2 text-sm text-yellow-500 bg-yellow-50 rounded-md border-yellow-300 border;
  @apply animate-pulse; /* Apply the pulse animation */
}
.image-wrapper {
  @apply relative overflow-hidden;
}

.lazy-image {
  @apply transition-all duration-700 ease-in-out opacity-60 filter blur-[40px] bg-gray-200;
}

.lazy-image.loaded {
  @apply filter-none opacity-100 bg-transparent;
}

.holder {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px red solid;
}

#favicon {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

/* app.css or form.css */

input[type="file"] {
  @apply p-2 border border-border rounded-md text-emerald-500 cursor-pointer hover:underline focus:ring-emerald-500;
}

input[type="checkbox"] {
  @apply ml-2 size-4 rounded border-border  text-emerald-500 focus:ring-emerald-500;
}

label[for="picture-clear_id"] {
  @apply text-emerald-600 text-sm mt-6;
}

label[for="id_picture"] {
  @apply font-bold;
}

a[href$=".png"] {
  @apply text-emerald-600 hover:underline break-all;
}

.list-thumbs-up li::before {
  content: "👍";
  margin-right: 0.5rem;
}

@media (min-width: 240px) {
  .holder {
    max-width: 240px;
  }
}
/* xs */
@media (min-width: 384px) {
  .holder {
    max-width: 384px;
  }
}
/* sm */
@mediamedia (min-width: 512px) {
  .holder {
    max-width: 512px;
  }
}

/* md */
@media (min-width: 672px) {
  .holder {
    max-width: 672px;
  }

  /* lg   */
}
@media (min-width: 768px) {
  .holder {
    max-width: 768px;
  }
}

/* xlg */
@media (min-width: 1024px) {
  .holder {
    max-width: 1024px;
  }
}

/* xxl */
@media (min-width: 1440px) {
  .holder {
    max-width: 1440px;
  }
}

/* xxxl */
@media (min-width: 1920px) {
  .holder {
    max-width: 1920px;
  }
}
